/* Define uma fonte padrão para todos os elementos */
* {
    font-family: 'Montserrat', sans-serif;
}

/* estilos gerais para o corpo da pagina */
body {
    background-color: #252525;
    color: #FFF;
}

/* classes para diferentes cores de fundo */
.primary-bg-color {
    background-color: #252525;
}
.destaque {
    background-color: #0D0D0D;
}
.secondary-bg-color {
    background-color: #976DF2;
}
.light-bg-color {
    background-color: #FCF5EB;
}
.dark-bg-color {
    background-color: #0D0D0D;
}

/* Classes para diferentes cores de texto */
.primary-color {
    color: #976DF2;
}

.secondary-color {
    color: #F2F2F2;
}

.light-color {
    color: #FCF5EB;
}

/* ______________________________________________ */
/* Estilos para a barra de navegação (navbar) */

/* Ajusta a direção e alinhamento dos itens da barra de navegação */
#navbar .navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
}

/* Define margem à esquerda para os itens da barra de navegação */
#navbar .navbar-nav li {
    margin-left: 1rem;
}

/* Define a cor do texto e links na barra de navegação */
#navbar a,
#navbar button {
    color: #FFF;
}

/* Ajusta a posição dos itens da barra de navegação */
#navbar li {
    position: relative;
}

/* Define estilo para ícones na barra de navegação */
#navbar i {
    font-size: 20px;
}

/* Define estilo de cor quando o mouse passa sobre os ícones */
#navbar i:hover {
    color: #976DF2;
}

/* Define estilo para caixa com numero (ex: quantidade de itens) */
#navbar span {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ef3636;
    text-align: center;
}

/* Posiciona a caixa com numero no item de sacola de compras */
#bag-item span {
    left: 20px;
}

/* Estilos para a marca/logo na barra de navegação */
.navbar-brand {
    font-weight: 700;
    width: 100%;
    text-align: center;
}

/* Estilo de hover para links 'sobre' */
.sobre a:hover {
    color: #0D0D0D !important;
}

/* Ajusta estilo quando a largura da tela é maior que 768px */
@media(min-width: 768px) {
    .navbar-brand {
        text-align: left;
    }
}

/* ajusta espaçamento entre itens da barra de navegação */
#navbar-items {
    justify-content: space-between;
}

/* Ajusta espaçamento quando a largura da tela é maior que 768px */
@media(min-width: 768px) {
    #navbar-items {
        display: flex;
        min-width: 80%;
    }
}

/* Estilos para formularios de busca e newsletter */
#search-form,
#news-form {
    width: 100%;
    margin: 2em 0;
}

/* Ajusta largura e margem quando a largura da tela é maior que 768px */
@media(min-width: 768px) {
    #search-form,
    #news-form {
        width: 50%;
        margin: 0;
    }   
}

/* Estilos para campos de input em formulários */
#search-form,
#news-form {
    border: 2px solid #F2F2F2;
    border-radius: 3px;
    padding: 5px 15px;
}

/* Estilos para campos de input quando focados */
#search-form input,
#news-form input {
    background-color: transparent;
    border: none;
    color: #FFF;
}

/* Estilos para campos de input quando focados */
#search-form input:focus,
#news-form input:focus {
    box-shadow: none;
}

/* Estilos para placeholders em campos de input */
#search-form input::placeholder,
#news-form input::placeholder {
    color: #FFF;
}

/* ______________________________________________ */
/* Estilos para a barra de navegação inferior (bottom-navbar) */

/* Ajusta a posição dos itens na barra de navegação inferior */
#bottom-navbar-container .container {
    justify-content: flex-end;
}

/* Define cor do texto e links na barra de navegação inferior */
#bottom-navbar-container a {
    color: #FFF;
    font-weight: 600;
}

/* Define tamanho do icone do botão para mostrar/esconder o menu */
.navbar-toggler {
    font-size: 1.5em;
}


/* Estilos para os banners */

/* Define espaçamento interno para o container de banners */
#banners-container {
    padding: 0;
}

/* Posicionamento e espaçamento para a legenda do carousel */
.carousel-caption {
    bottom: 5rem;
    padding: 1rem;
    left: 12%;
    right: 12%;
}

/* Estilos para o título na legenda do carousel */
.carousel.caption h5 {
    font-size: 1.8rem;
}

/* Media query para telas com largura mínima de 768px */
@media(min-width: 768px) {
    /* Ajusta altura dos itens do carousel e imagens */
    #slider .carousel-item,
    #slider img {
        height: 600px;
    }

    /* Ajusta posicionamento e espaçamento da legenda do carousel*/
    .carousel-caption {
        left: 23%;
        right: 23%;
    }

    /* Ajusta tamanho do título na legenda do carousel */
    .carousel-caption h5 {
        font-size: 4em;
    }
}

/* Estilos pra os minis banners */
/* Ajusta margem superior para sobrepor os banners prinipais */
#mini-banners {
    margin-top: -3rem;
    z-index: 10;
}

/* Estilos para as colunas dos mini banners */
#mini-banners .col-12 {
    z-index: 1;
    height: 300px;
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Media query para telas com largura mínima de 768px */
@media(min-width: 768px) {
    /* Ajusta largura máxima das colunas dos mini banners */
    #mini-banners .col-12{
        max-width: 30%;
    }

    /* Ajusta tamanho do título nos mini banner */
    #mini-banners .col-12 h2 {
        font-size: 2.2rem;
    }
}

/* Estilos para título nos mini banners */
#mini-banners .col-12 h2 {
    text-transform: uppercase;
    max-width: 50px;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1rem;
}

/* Estilos para as imagens nos mini banners */
#mini-banners .col-12 img {
    height: 220px;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

/* Estilos para link nos mini banners */
#mini-banners .col-12 a {
    font-weight: bold;
    color: #FFF;
    font-size: .8rem;
    transition: .5s;
}

/* Estilos de hover para links nos mini banners */
#mini-banners .col-12 a:hover {
    color: #0D0D0D;
}

/* Estilos específico para o primeiro mini banner */
#mini-banners #mini-banner-1 a:hover {
    color: #976DF2;
}

/* Estilos específico para o terceiro mini banner */
#mini-banners #mini-banner-3 a {
    color: #0D0D0D;
}

/* Estilos de hover específicos para o terceiro mini banner */
#mini-banners #mini-banner-3 a:hover {
    color: #976DF2;
}