/* Define uma fonte padrão para todos os elementos */
* {
    font-family: 'Montserrat', sans-serif;
}

/* estilos gerais para o corpo da pagina */
body {
    background-color: #252525;
    color: #FFF;
}

/* classes para diferentes cores de fundo */
.primary-bg-color {
    background-color: #252525;
}

.destaque {
    background-color: #0D0D0D;
}

.secondary-bg-color {
    background-color: #976DF2;
}

/* Estilos para os banners */

/* Define espaçamento interno para o container de banners */
#banners-container {
    padding: 0;
}

/* Posicionamento e espaçamento para a legenda do carousel */
.carousel-caption {
    bottom: 5rem;
    padding: 1rem;
    left: 12%;
    right: 12%;
}

/* Estilos para o título na legenda do carousel */
.carousel.caption h5 {
    font-size: 1.8rem;
}

/* Media query para telas com largura mínima de 768px */
@media(min-width: 768px) {
    /* Ajusta altura dos itens do carousel e imagens */
    #slider .carousel-item,
    #slider img {
        height: 600px;
    }

    /* Ajusta posicionamento e espaçamento da legenda do carousel*/
    .carousel-caption {
        left: 23%;
        right: 23%;
    }

    /* Ajusta tamanho do título na legenda do carousel */
    .carousel-caption h5 {
        font-size: 4em;
    }
}

/* Estilos pra os minis banners */
/* Ajusta margem superior para sobrepor os banners prinipais */
#mini-banners {
    margin-top: -3rem;
    z-index: 10;
}

/* Estilos para as colunas dos mini banners */
#mini-banners .col-12 {
    z-index: 1;
    height: 300px;
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Media query para telas com largura mínima de 768px */
@media(min-width: 768px) {
    /* Ajusta largura máxima das colunas dos mini banners */
    #mini-banners .col-12{
        max-width: 30%;
    }

    /* Ajusta tamanho do título dos mini banner */
    #mini-banners .col-12 h2 {
        font-size: 2.2rem;
    }
}

/* Estilos para título nos mini banners */
#mini-banners .col-12 h2 {
    text-transform: uppercase;
    max-width: 50px;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1rem;
}

/* Estilos para as imagens nos mini banners */
#mini-banners .col-12 img {
    height: 220px;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

/* Estilos para link nos mini banners */
#mini-banners .col-12 a {
    font-weight: bold;
    color: #FFF;
    font-size: .8rem;
    transition: .5s;
}

/* Estilos de hover para links nos mini banners */
#mini-banners .col-12 a:hover {
    color: #0D0D0D;
}

/* Estilos específico para o primeiro mini banner */
#mini-banners #mini-banner-1 a:hover {
    color: #976DF2;
}

/* Estilos específico para o terceiro mini banner */
#mini-banners #mini-banner-3 a {
    color: #0D0D0D;
}

/* Estilos de hover específicos para o terceiro mini banner */
#mini-banners #mini-banner-3 a:hover {
    color: #976DF2;
}